.custom-button{
    background: linear-gradient(150deg, hsl(18, 95%, 55%), hsl(35, 100%, 40%));
    border: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: fit-content;
}

.custom-button:hover{
    box-shadow: 0 0 10px hsl(35, 100%, 40%);
}
