
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: translateY(0);
    transition: background-color 0.5s ease, transform 0.3s ease-in-out;
}

.navbar-hide {
  transform: translateY(-250%);
   pointer-events: none;
}

.navbar-dark {
  background-color: #000;   /* cor até 210vh */
}

.navbar-transparent {
  background-color: transparent; /* após 210vh */
}

.navbar-brand{
    color: white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:visited {
  color: white !important;
}


.navbar-brand:hover{
    color: white !important;
    transform: scale(1.1);
}

.navbar-brand span:hover{
    text-shadow: 0 0 0.8em #d53333;
}

.last-name{
    color: #9e2525;
    text-shadow: 1px 1px 2px #9e2525;

}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #9e2525!important;
}

.nav-link img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1); /* branco */
  transition: filter 0.5s ease, transform 0.3s ease;
}

.nav-link img:hover {
  filter: brightness(0) invert(0.2) sepia(0.75) saturate(4000%) hue-rotate(355deg); /* aumenta levemente */
}


@media (max-width: 768px){
    .principal{
        padding: 0%!important;
         background-color: #000000 !important;
         opacity: 0.8!important;
         backdrop-filter: blur(1px);
         padding-bottom: 10px!important;
    }
    .nav{
        display: flex!important;
        justify-content: end!important;
        align-items: end!important;
    }

}
