.home{
    background-color: #000000;
    min-height: 100vh   ;
    padding-top: 90px;
    width: 100%;
    overflow-x: hidden;
}

.home-content .typing-text, .description{
    color: white;

}

.home-content{
    padding-top: 70px!important;
}

.home-content h1 span{
    color: #9e2525;
    text-shadow: 1px 1px 2px #9e2525;
}
.home-content h1{
    font-size: 80px;
}

.home-img img{
    border-radius: 50%;
    border: 4px solid #9e2525;
    box-shadow: 0 0 10px #9e2525, 0 0 20px #9e2525, 0 0 30px #9e2525;
    width: 540px ;
    height: 620px;
    transition: ease-in-out 0.3s;
    
     
}

.home-img img:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 40px #9e2525, 0 0 40px #9e2525, 0 0 50px #9e2525;
}

.social-icons a{
    border: 2px solid #9e2525!important;
    font-size: 25px;
   width: 50px;
   height: 50px ;

}

.social-icons a:hover{
    background-color: #9e2525;
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
   
}


i:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
    color: white !important;

}

@media (max-width: 768px) {
    .home{
        display: flex;
        flex-direction: column-reverse!important;
        display: flex;
        justify-content: center!important;
        align-items: cente!important;
        width: 100%;
        margin: 0!important;
        padding: 0!important;
    }
    .home-content{
        width: 100%!important;
        display: flex;
        justify-content: center;  
    }
    .home-content h1{
        width: 100%;
        font-size: 10vw;
    }

    .home-content p{
        padding-top:1rem ;
        text-align: center!important;
         font-size: 6vw!important;
    }

    .home-img{
        display: flex!important;
        justify-content: center!important;
        padding: 100px 0px 0px 0px!important;
        margin:  0px!important;
        width: 10%;
    }

    .home-img img{
        max-width: 300px ; 
        max-height: 300px ;
        object-fit: cover;
        padding: 0px!important;
        margin: 0px!important;
    }

    .typing-text{
        width: 100%!important;
    }
}