nav{
    background-color: transparent;
    position: fixed;
    top: 0;

}

.navbar-nav a:first-of-type{
    color: hsl(18, 95%, 55%);
}

.navbar-scrolled {
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}



.navbar-nav a:nth-of-type(2) { color: hsl(225, 12%, 24%); }  
.navbar-nav a:nth-of-type(3) { color: hsl(225, 12%, 24%); }  
.navbar-nav a:nth-of-type(4) { color: hsl(225, 12%, 24%); }

.nav-link{
    transition: ease-in-out 0.3s ;
    font-size:small;
}

.nav-link:hover{
    color: hsl(18, 95%, 55%)!important;
}

@media (max-width: 994px) {

  .navbar-collapse { 
    background-color: hsla(255, 86%, 5%); 
    display: none!important; 
  }

  .navbar-collapse.show {
        display: flex !important; /* Bootstrap adiciona .show quando abre */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 0.375rem;
  }
}