#services{
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

.back{
    background-color: hsl(255, 12%, 12%);
    margin-top: auto;
    width: 100%;
    height: 45%; 
    position: absolute;
    top: 1800px;
    z-index: -999;
}

.subtitle-services{
    color: hsl(42, 98%, 52%);
    font-size: small;
}

.title-services{
    font-size:xx-large;
    max-width: 400px;
}

.d-services{
    max-width: 470px;
}