.about{
    height: 100vh;
    width: 100%;
}

.img-1{
    width: 370px;
    height: 470px;
    object-fit: cover;
    border: 10px solid white;
    position: absolute;
    left: 450px;
    top: 1050px;
    z-index: 10;
}

.img-2{
    width: 450px;
    min-height: 400px;
    object-fit: cover;
    position: absolute;
    left: 250px;
    top: 1200px;

}

.content{
    width: 35%;
}

.content h6{
    color: hsl(42, 98%, 52%);
}