.card-contact{
    border: 2px solid gray;
    transition: 0.2s ease-in-out;
    width: 220px;
    height: 200px;
}

.card-contact:hover{
    border: 2px solid hsl(18, 95%, 55%);
}
.icon-contact{
    background-color: black;
    
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;    /* centralização vertical */
    justify-content: center; /* centralização horizontal */
    border-radius: 50%;     /* mesmo que rounded-circle */
    font-size: 1.5rem; 
}

.icon-contact i{
    color: white;
}

.square-contact{
    align-content: center;
    text-align: center;
    width: 120px;
}

.t-contact{
    font-size: 0.7rem;
}

