.my-card{
    background-color: transparent;
    border: 3px solid #9e2525;
    backdrop-filter: blur(10px);
    border-radius: 20px;
     transition: transform 0.3s ease;
    color: white;
    min-width: 30vw;
    height: 45vh;
    margin-bottom: 30px;
    overflow: visible; 
}

.my-card:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 20px #9e2525, 0 0 20px #9e2525, 0 0 30px #9e2525;
}



.btn{
    border-radius: 40px;
}