.my-card{
    background-color: transparent;
    border: 3px solid #9e2525;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
    color: white;
    min-width: 10vw;
    height: clamp(50vh, 69vh, 100vh);
    margin-bottom: 30px;
    overflow: visible; 
}

.my-card:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 20px #9e2525, 0 0 20px #9e2525, 0 0 30px #9e2525;
}



.btn{
    border-radius: 40px;
}

.card-content img{
    width: 100%;
    height: clamp(150px, 30vh, 250px);
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
}

.description{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
}

