.slide{
    border: 2px solid hsl(0, 0%, 90%);
    box-sizing: border-box;
}
.c-icon{
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background-color: black;
    
    text-align: center;
    align-content: center;
}

.c-icon i{
    color: rgba(255, 255, 255, 0.918);  
    font-size: 1.5rem;
}
