#contact{
    min-height: 100vh;
}

.contact{
    width: 90%;
}
.contact-content{
    width: 100%;        /* evita quebra em telas pequenas */
    gap: 2rem;  
}

.sub-icon{
    color: hsl(18, 95%, 55%);
}

.subtitle-contact{
    color: hsl(42, 98%, 52%);
}

.contact-container{
    max-width: 600px; /* controla o tamanho sem quebrar o grid interno */
  width: 100%;
}

.contact-image{
    max-width: 500px;
    height: 420px;
}

.container{
    width: 50%;
}

.contact-card{
    width: 200px;
    height: 50px;
}

.top{
    height: 50vh;
    width: 40%;
}

.sub-icon{
    color: hsl(18, 95%, 55%);
    font-size: large;
    transition: 0.3s ease-in-out;
}

.sub-icon:hover{
    transform:translateY(-0.3rem);
}