#stacks{
    min-height: 130vh;
    background-color: rgb(25, 0, 0);
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat( 2, 40%);
    max-width: 100%;
    grid-gap: 20px;
    
}

.item {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

@media (max-width: 768px){
  #stacks{
    background: linear-gradient(45deg, rgb(30, 0, 0), rgb(47, 1, 1))
}
  .grid-container {
    grid-template-columns: 1fr; /* vira uma coluna sรณ */
  }
}

