.marquee-wrapper {
  width: 100vw;
  background: #000;
  padding: 2rem 0;
}

.tech-icon {
  width: 50px;
  height: 50px;
  margin: 0 3rem;
  fill: white;
}

.marquee-wrapper i{
  font-size: 6rem;
  color: white;
  margin: 0 1rem;
}

.marquee-wrapper img {
  width: 100px;
  height: 100px;
  margin: 0 1rem;
}



