.contact{
    background-color: rgb(25, 0, 0);
    min-height: 110vh;
    overflow: hidden;
}   


.contact-img img{
    max-width: 550px;
    margin-left: 200px;
    cursor: pointer;
    border: 2px solid #9e2525;
    transition: ease-in-out 0.5s;
}

.contact-img img:hover{
    box-shadow: 0 0 20px #9e2525, 0 0 20px #9e2525, 0 0 30px #9e2525;
    transform: scale(1.05);   
}

@media (max-width: 768px) {
    .contact-img{
        display: none;
    }
}