.about{
    background-color: #000000;
    height: 100vh;
}

.about h1{
    color: #9e2525;
}

.content-image img{
    width: 250px;
    height: 250px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.content-image img:hover{
    transform: scale(1.05);
}

.img{
  width: 500px;
  transition: 2s;
}



.section p{
    width: 1000px;
    font-size: 1rem;
    
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
  transition: transform 0.1s ease;
  user-select: none;
}

@media (max-width: 768px) {
  .reveal{
    margin: 0px!important;
  }
  .content-text{
    width: 100%!important;
  }
  .about-text{
    width: 100%!important;
    font-size: 3vh!important;
    padding: 0px!important;
  }

  .content-image{
    display: none;
  }
  
} 

.tabs {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ccc;
  gap: 10px;
}

.tabs label {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}

/* Aba ativa */
#tab1:checked + .tabs label[for="tab1"],
#tab2:checked + .tabs label[for="tab2"],
#tab3:checked + .tabs label[for="tab3"] {
  border-color: #007bff;
  color: #007bff;
}

/* Conteúdos inicialmente ocultos */
.tab-content {
  display: none;
  padding: 15px 0;
}

/* Mostrar conteúdo correspondente */
#tab1:checked ~ .content #c1,
#tab2:checked ~ .content #c2,
#tab3:checked ~ .content #c3 {
  display: flex;
}


