.about{
    background-color: #000000;
    height: 110vh;
}

.about h1{
    color: #9e2525;
}

.content{
  width: 75%;
}

.content-image img{
    width: 250px;
    height: 250px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.content-image img:hover{
    transform: scale(1.05);
}

.img{
  max-width: 30vw;
  transition: 2s;
}



.section p{
    width: 1000px;
    font-size: 1rem;
    
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs label {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}

/* Aba ativa */
#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"],
#tab3:checked ~ .tabs label[for="tab3"] {
  border-color: #9e2525 ;
  color: #9e2525!important;
}

/* Conteúdos inicialmente ocultos */
.tab-content {
  display: none;
  padding: 15px 0;
  transition: opacity .25s ease, transform .25s ease;
}

/* Mostrar conteúdo correspondente */
#tab1:checked ~ .content #c1,
#tab2:checked ~ .content #c2,
#tab3:checked ~ .content #c3 {
  display: flex;
  align-items: start;
  
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
  transition: transform 0.1s ease;
  user-select: none;
}

@media (max-width: 768px) {
  .reveal{
    margin: 0px!important;
  }

  #about{
    padding: 0px 10px!important;
  }
  .content-text{
    width: 100%!important;
  }
  .about-text{
    width: 100%!important;
    font-size: 3vh!important;
    padding: 0px!important;
  }

  .content-image{
    display: none;
  }

    .tabs{
    display: flex;
    flex-direction: row;
    width: 100%!important;
    }

    .tabs label{
      font-size: 3vh!important;
      padding: 5px!important;
      margin-right: 5px!important;
    }

    .tab-container{
      display: flex;
      flex-direction: column!important;
      justify-content: center;
    }

    .about-text{
      width: 350px!important;
      margin-right: 10px;
    }

    .img{
      display: none;
    }

} 




