.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./public/pexels-kellie-churchman-371878-1001682.webp");
    background-size: cover; /* Faz a imagem cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 60vh; 
}

.dream-destinations{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("./public/pexels-fabianwiktor-994605.webp");
    background-size: cover; /* Faz a imagem cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    height: 40vh;
    
}

.card{
    width:30rem;
    height:300px !important;
}


.card-img-top{
    width: 150px !important;
    height: 150px;
    object-fit: cover;      
}

.card-text{
    font-size: 12px;
}

.card-header{
    height: 5vh;
}
