.tool{
    max-width: 100%;
    background: linear-gradient(45deg, rgb(30, 0, 0), rgb(47, 1, 1));
    min-height: 40vh;
}

.stack-icon{
    width: 80px;
    height: 80px;
    padding: 10px;
    font-size: 2rem;
    background-color:rgb(63, 1, 1) ;
    display: flex;
    justify-content: center;
    margin-right: 0.5rem ;
}

.tech-icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);    
  gap: 20px;
}

@media (max-width: 768px){
  .tech-icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 30px;
}

.tool{
   background-color:rgb(63, 1, 1)!important;
}

}

@media (max-width: 375px){
  .tech-icon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 0 30px;
}

}
