.tech{
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tech i{
    font-size: 3rem;
    transform: none !important;
}

.tech i:hover{
    transform: none !important;
}

.tech img{
    width:5rem;
}

.back-icon{
  font-size: 5rem!important;
  transform: none !important;
}

.data-icon{
  font-size: 9rem!important;
}

.fastapi{
    color: rgb(2, 195, 154)!important;
}