.maincontainer{
    height: 100vh;
    width: 100%;

}



.title{
    font-size: 3rem;
}

.v-projects{
    text-decoration: none;
    border: none;
    color: hsl(18, 95%, 55%);
}


.mcimg-1{
    object-fit: cover;
    width: 550px;
    height: 375px;

}
.mcimg-2{
    position: absolute;
    bottom: 55px;
    right: 450px;
    z-index: 1;
    border: 12px solid hsla(254, 60%, 7%, 0.979);
}

.number{
    color: hsl(42, 98%, 52%);

}
