.maincontainer{
    min-height: 100dvh;
    width: 100%;

}

.title{
    font-size: 3rem;
}

.v-projects{
    text-decoration: none;
    border: none;
    color: hsl(18, 95%, 55%);
    transition: transform ease 0.5s;
}

.v-projects:hover{
    transform:scaleX(1rem);
    
}

.mcimg-1{
    object-fit: cover;
    width: 550px;
    height: 375px;
}

.mcimg-2{
    position: absolute;
    bottom: 55px;
    right: 450px;
    z-index: 1;
    border: 12px solid hsla(254, 60%, 7%, 0.979);
}

.number{
    color: hsl(42, 98%, 52%);
}


@media (max-width: 768px)  {
    .maincontainer{
        width: fit-content!important;
        height: 100vh;
    }
    .maincontainer div{
         width: fit-content!important;
         display: flex;
         justify-content: center;
    }
    .title{
        align-self: center;
        text-align: center;
        font-size: 4rem;
    }

    .subtitle-main{
        align-self: center;
        text-align: center;
        font-size: 1.2rem;  
    }

    .buttons{
        align-self: center;
    }

    .numbers{
        align-self: center;
    }

    .number{
        display: flex;
        flex-direction: column!important;
    }
}
