.card-contact{
    background-color: #600d0d;
    width: 220px;
    height: 210px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    margin: 10px
}

.card-contact:hover{
    box-shadow: 0 0 10px #9e2525, 0 0 20px #9e2525, 0 0 30px #9e2525;
}

.card-contact  h3{
    font-size: 1rem;
}

.card-contact i{
    font-size: 4rem;
}

.card-contact a{
  text-decoration: none;
}

p{
    font: 0.7em sans-serif;
}

.fade-in {
  opacity: 0;
  transform: translateY(-30px); /* sobe levemente */
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}