.card{
    border: 2px solid hsl(255, 12%, 12%);
    transition: 0.4s ease-in-out;
}

.card:hover{
    border: 2px solid hsl(18, 95%, 55%);
}

 .text-project{
    font-size: 1.1vw;
}

.subtitle{
    font-size: 1.1vw;
}