#footer{
    background-color: hsl(255, 12%, 12%);
}

.link-footer a{
    transition: 0.3s ease;
}
.link-footer a:hover{
    color: hsl(18, 95%, 55%)!important;
}

.social i{
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.social i:hover{
    transform: translateY(-5px);
}

.media{
    width: fit-content;
}