.project{
    background-image: url(../../assets/foto-projects.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 110vh;
}

.container {
    min-width: 100%;
}

.project-content{
    width: clamp(250px, 80%, 380px);
}


@media (max-width: 768px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-container{
        flex-direction: column!important;
        align-items: center;
        padding: 0!important;
    }
}

