
body{
     --first-color: hsl(18, 95%, 55%);
  --second-color:    ;

  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(255, 4%, 70%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(255, 20%, 10%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

.principal{
   background-color:   hsla(255, 86%, 5%, 0.979);
    background-image: url(../src/assets/home-lines-bg.svg);
}